@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.display-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.display-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.align-center{
    align-self: center;
}
.slidecontainer{
    align-self: center;
}

.quote{
    color: var(--primary-color);
    align-self: center;
    margin: 0.5rem;
    padding-top: 1rem;
}