
.nav {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;

}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: spa;
    align-items: center;
}

#nav-title {
    padding-left: 2rem;
    font-weight: bolder;
}

#nav-title:hover{
    color: var(--primary-color);
    transition: 0.3s;

}
.main-heading{
    color: var(--primary-color);
    padding-left: 2rem;
    letter-spacing: 1px;
}

.gray-title {
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.gray-title:hover {
    color: black;
    transition: 0.3s;
}

.align-center {
    align-content: center;
}

/*Input*/
.search-bar {
    /* position: absolute; */
    border-radius: 10px;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: transparent;
}

.link-no-style {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-rounded {
    background: rgb(238, 238, 238);
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 350px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
    transition: 0.50s;
    font-family: 'Quicksand', sans-serif;
}
/*icons*/
.icon-container  {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    
}

.bi {
    font-size: 2rem;
    color: rgb(118, 118, 118);
}

.bi:hover {
    color: black;
    transition: 0.3s;
}

.topnav-link {
    margin: 6px;
}

.cart-badge {
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0.4rem;
    vertical-align: baseline;
    font-size: 0.75rem;
    margin: auto 0.4em;
    border-radius: 0.75rem;
    color: white;
    background-color: red;
    border: 1px solid white;
     position: relative;
    bottom: 1.5rem;
    right: 0.8rem;
    border-radius: 50%;
    margin: 0;
    background-color: red;
    border-color: white;
  }
