@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* @import url("../../components/Cards/Card.css"); */
:root {
    --main-light-color: #fbcfe8;
    --img-square: 200px;
    --orange:rgb(228,121,17);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    overflow: scroll;
}

/* .app-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    grid-template-areas:
        "header header header header header"
        "category category category category category"
        "slider slider slider slider slider"
        "arrivals arrivals arrivals arrivals arrivals";
        overflow-y: scroll;
} */

.app-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*topnav*/

.slider-img {
    grid-area: slider;
    background-color: white;
    padding: 1rem;
}

/* slider */
.slider-img {
    position: relative;
    text-align: center;
    color: white;
}

.banner-img {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.text-right {
    position: absolute;
    top: 10rem;
    right: 70rem;
    font-weight: bolder;
} 

.new-arrivals{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.category-card:hover {
    transform: scale(0.9, 0.9);
    transition: 0.30s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title-white {
    color: white;
} 


::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background: none;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/*Arrival card horizontal*/
.card-arrival{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30rem;
    margin: 20px;
    background-color: yellowgreen;
}
.card_image{
    align-self: center;
}
.card_title{
    margin: 2%;
}
.new-arrivals-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   justify-content: space-between;
}
